on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
    paths:
      - 'backend/**'
      - '.github/workflows/build-image-be.yml'

name: Build Docker image for the backend

jobs:

  build-be:
    name: Build Docker image
    uses: code4romania/.github/.github/workflows/build-push-image.yml@main
    with:
      images: code4romania/wf-chatbot-backend
      context: ./backend
      dockerfile: ./backend/Dockerfile
    secrets:
      username: ${{ secrets.DOCKER_HUB_USERNAME }}
      token: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
